<%-include('./includes/head') %>
<%-include('./includes/nav1') %>

<div class="container">
       <div class="row">
              <div class="col-lg-2"></div>
              <div class="col-lg-8">
                     <h1 class="text-center">Seu Markplace</h1>
                     <p class="text-center lead">Lojas Cadastradas:</p>

                     <div class="responsive-table">
                            <table class="table my-3">
                                   <tr>
                                          <td>Nome: Denise</td>
                                   </tr>
                                   <tr>
                                         
                                          <td>Sobrenome: Carolina</td>
                                          
                                   </tr>
                                   <tr>
                                         
                                          <td>Email: ab@gmail.com</td>
                                          
                                   </tr>
                                      <tr>
                                         
                                          <td>Telefone: 31999999999</td>
                                          
                                   </tr>

                            </table>
                     </div>




              </div>
              <div class="col-lg-2"></div>
       </div>
</div>

<%-include('./includes/footer') %>


